
/* akira font */

@font-face {
    font-family: 'akira';
    src: url(../fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}


/* integral font */

@font-face {
    font-family: 'integral-regular';
    src: url(../fonts/Integral-www.Dfonts.org/Integral-www.Dfonts.org/OTF/IntegralCF-Regular.otf);
}

@font-face {
    font-family: 'integral-bold';
    src: url(../fonts/Integral-www.Dfonts.org/Integral-www.Dfonts.org/OTF/IntegralCF-Bold.otf);
}

/* nexa font */

@font-face {
    font-family: 'nexa-light';
    src: url(../fonts/nexa/Nexa\ Light.otf);
}

@font-face {
    font-family: 'nexa-bold';
    src: url(../fonts/nexa/Nexa\ Bold.otf);
}